<app-menu-title title="Requests & Bookings"></app-menu-title>
<ion-content padding>
  <h3>Requests</h3>
  <ion-card *ngFor="let booking of requests | async">
    <ion-card-header>
      <ion-card-title>Request ID : {{ booking.id }}</ion-card-title>
      <ion-card-subtitle>Asset ID : {{ booking.assetId }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row
          *ngFor="let row of booking | keyvalue; let i = index"
          [ngClass]="i % 2 == 0 ? 'dark' : 'light'"
        >
          <ion-col>{{ row.key }}</ion-col>
          <ion-col>{{ row.value }}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
    <ion-footer>
      <ion-button class="ion-float-right" (click)="approve(booking.id)"
        >Approve</ion-button
      >
      <ion-button class="ion-float-right" (click)="reject(booking.id)"
        >Reject</ion-button
      >
    </ion-footer>
  </ion-card>
  <br />

  <section *ngIf="isAM()">
    <h3>Breakdowns</h3>
    <ion-card *ngFor="let breakdown of breakDowns | async">
      <ion-card-header>
        <ion-card-title>Breakdown ID : {{ breakdown.id }}</ion-card-title>
        <ion-card-subtitle
          >Asset ID : {{ breakdown.assetId }}</ion-card-subtitle
        >
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row
            *ngFor="let row of breakdown | keyvalue; let i = index"
            [ngClass]="i % 2 == 0 ? 'dark' : 'light'"
          >
            <ion-col>{{ row.key }}</ion-col>
            <ion-col>{{ row.value }}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
      <ion-footer>
        <ion-button class="ion-float-right" (click)="release(breakdown.assetId)"
          >Release</ion-button
        >
      </ion-footer>
    </ion-card>
  </section>
</ion-content>
