<ion-card class="book-card" style="background-color: teal;display: flex;">
  <div class="button-panel">
    <ion-button
      fill="clear"
      (click)="bookPreview()"
      class="icon-button"
      size="small"
    >
      <ion-icon slot="icon-only" name="eye" class="icon"></ion-icon>
    </ion-button>
    <ion-button
      fill="clear"
      class="icon-button"
      size="small"
      (click)="saveBook()"
    >
      <ion-icon slot="icon-only" name="save" class="icon"></ion-icon>
    </ion-button>
    <ion-button fill="clear" class="icon-button" size="small">
      <ion-icon slot="icon-only" name="briefcase" class="icon"></ion-icon>
    </ion-button>
  </div>
  <ion-grid style="background-color: white;display:flex">
    <ion-row justify-content-center align-items-center>
      <ion-col
        [hidden]="!getImage(book.url)"
        sizeXl="1"
        sizeLg="1"
        sizeMd="2"
        sizeSm="2"
        sizeXs="3"
        style="padding: 0;background-color: #056571;"
      >
        <img [src]="book.url" alt="libri" class="book-image" />
      </ion-col>
      <ion-col
        sizeXl="11"
        sizeLg="11"
        sizeMd="10"
        sizeXs="9"
        style="height: 100%;"
      >
        <div class="book-title">{{ book.title }}</div>
        <div class="book-author">{{ book.author }}</div>
        <div
          barClass="scrollbar"
          thumbClass="scrollbar-thumbs"
          class="book-description"
        >
          {{ book.abstract }}
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
