<mat-card style="margin-bottom: 8px;">
  <div class="row">
    <div class="col-sm-2">
      <!-- <img [src]="bookRequest.file['imageURL']" class="book-cover" /> -->
      <img
        src="https://5.imimg.com/data5/EF/RQ/MY-3030942/lenovo-desktop-computer-500x500.jpg"
        class="book-cover"
      />
    </div>
    <div class="col-sm-10">
      <div>Computer 001</div>
      <div><b>Authors</b> :</div>
      <hr />
      <div>lorem</div>
      <div style="float: right"><button mat-raised-button>Approve</button></div>
    </div>
  </div>
</mat-card>
