<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="example-form">
    <mat-form-field class="formField" appearance="outline">
      <mat-hint>Enter your NIC</mat-hint>
      <input matInput placeholder="NIC" />
    </mat-form-field>
    <mat-form-field class="formField" appearance="outline">
      <mat-hint>Enter your password</mat-hint>
      <input matInput placeholder="Password" type="password" />
    </mat-form-field>
  </form>
</ion-content>
