<app-menu-title title="Contact Us"></app-menu-title>
<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/icon/contact.jpg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Need Help?</ion-card-subtitle>
      <ion-card-title>Contact Us</ion-card-title><br />
      <ion-button href="https://www.facebook.com/CodeGen.International">
        <ion-icon name="logo-facebook" class="larger"></ion-icon>
      </ion-button>
      <ion-button
        color="danger"
        href="https://www.instagram.com/codegen_international"
      >
        <ion-icon name="logo-instagram" class="larger"></ion-icon>
      </ion-button>
      <ion-button color="warning" href="https://www.codegen.co.uk">
        <ion-icon name="globe" class="larger"></ion-icon>
      </ion-button>

      <ion-icon src="/assets/icon/contact.jpg"></ion-icon>
    </ion-card-header>
    <ion-card-content>
      <p>.</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <b> CodeGen Intl Pvt Ltd</b><br />
      Bay 1-5. Trace Expert City,<br />
      Tripoli Square,<br />
      Colombo 10,<br />
      Sri Lanka.<br /><br />
      <ion-icon name="call"></ion-icon> <b> Telephone</b><br />
      <b> CEO - </b> +94112024400<br />
      <b> Asset Manager - </b> +94112489173<br />
      <b> Department head - </b> +94112678456<br /><br />
      <b>Email -</b>
      info@codegen.net
    </ion-card-content>
  </ion-card>
</ion-content>
