<ion-split-pane>
  <ion-menu type="overlay" contentId="content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle
          auto-hide="false"
          *ngFor="let p of appPages"
          hidden
          [hidden]="!isAuthorized(p.url)"
        >
          <ion-item routerDirection="root" (click)="navigate(p.url)">
            <ion-icon slot="start" [name]="p.icon"></ion-icon>
            <ion-label>
              {{ p.title }}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
    <ion-footer>
      <ion-item (click)="logoutUser()">
        <ion-icon name="log-out" slot="start"></ion-icon>Logout</ion-item
      >
    </ion-footer>
  </ion-menu>
  <ion-router-outlet id="content" main> </ion-router-outlet>
</ion-split-pane>
