<app-menu-title title="Registration of new Employee"> </app-menu-title>
<ion-content padding>
  <form [formGroup]="signupForm">
    <mat-form-field style="display: block">
      <mat-label>Enter First Name</mat-label>
      <input matInput placeholder="First Name" formControlName="firstName" />
      <mat-error *ngIf="checkFormControlIsValid('firstName')">{{
        getErrorMessage('firstName')
      }}</mat-error>
    </mat-form-field>
    <mat-form-field style="display: block">
      <mat-label>Enter Last Name</mat-label>
      <input matInput placeholder="Last Name" formControlName="lastName" />
      <mat-error *ngIf="checkFormControlIsValid('lastName')">{{
        getErrorMessage('lastName')
      }}</mat-error>
    </mat-form-field>
    <mat-form-field style="display: block">
      <mat-label>Enter Email</mat-label>
      <input matInput placeholder="Email" formControlName="email" />
      <mat-error *ngIf="checkFormControlIsValid('email')">{{
        getErrorMessage('email')
      }}</mat-error>
    </mat-form-field>
    <mat-form-field style="display: block">
      <mat-label>Enter National Identity Card</mat-label>
      <input matInput placeholder="NIC" formControlName="nic" />
      <mat-error *ngIf="checkFormControlIsValid('lastName')">{{
        getErrorMessage('nic')
      }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Employee Type</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let position of positions" [value]="position">
          {{ position }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <section padding>
      <label>Gender</label><br /><br />
      <mat-radio-group formControlName="gender">
        <mat-radio-button class="example-margin" value="male"
          >Male</mat-radio-button
        >&nbsp;
        <mat-radio-button class="example-margin" value="female"
          >Female</mat-radio-button
        >
      </mat-radio-group>
    </section>
    <mat-form-field style="display: block" appearance="outline">
      <input
        matInput
        placeholder="password"
        formControlName="password"
        type="password"
      />
      <mat-error *ngIf="checkFormControlIsValid('password')">{{
        getErrorMessage('password')
      }}</mat-error>
    </mat-form-field>
    <mat-form-field style="display: block" appearance="outline">
      <input
        matInput
        placeholder="Confirm Password"
        formControlName="confirmPassword"
        type="password"
      />
      <mat-error *ngIf="checkFormControlIsValid('confirmPassword')">{{
        getErrorMessage('confirmPassword')
      }}</mat-error>
    </mat-form-field>
    <mat-form-field style="display: block">
      <input
        matInput
        placeholder="Contact Number"
        formControlName="telephoneNumber"
        type="tel"
      />
      <mat-error *ngIf="checkFormControlIsValid('telephoneNumber')">{{
        getErrorMessage('telephoneNumber')
      }}</mat-error>
    </mat-form-field>
    <mat-form-field style="display: block">
      <input matInput placeholder="Address" formControlName="address" />
      <mat-error *ngIf="checkFormControlIsValid('address')">{{
        getErrorMessage('address')
      }}</mat-error>
    </mat-form-field>
    <ion-button
      type="submit"
      color="danger"
      [disabled]="signupForm.invalid"
      (click)="onSubmit()"
      >Register</ion-button
    >
  </form>
  <input
    type="file"
    [(ngModel)]="file"
    accept="image/*"
    (change)="onChange($event)"
  />
</ion-content>
