<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Forget Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text
    >If you have forgotten your password, you can submit a request and we will
    send you an email. You can add a new password using that</ion-text
  >
  <form
    [formGroup]="ForgetPasswordForm"
    style="width: 100%;height: 100%;display: flex;align-items: center"
  >
    <ion-grid>
      <ion-row align-items-center justify-content-center>
        <ion-col sizeLg="8" sizeXs="12">
          <mat-form-field
            class="formField"
            appearance="outline"
            style="display:block"
          >
            <mat-hint>Place your University Email</mat-hint>
            <input matInput placeholder="Email" formControlName="userEmail" />
            <mat-error *ngIf="checkFormControlIsValid('userEmail')">{{
              getErrorMessage('userEmail')
            }}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" style="display: block">
            <input
              matInput
              placeholder="Enter your password"
              [type]="hide ? 'password' : 'text'"
              formControlName="password"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error *ngIf="checkFormControlIsValid('password')">{{
              getErrorMessage('password')
            }}</mat-error>
          </mat-form-field>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

<ion-footer>
  <ion-button block (click)="forgetPassword()">Submit</ion-button>
  <ion-button block (click)="dismissModal()">Close</ion-button>
</ion-footer>
