<app-menu-title title="Home"></app-menu-title>
<ion-content>
  <ion-card class="welcome-card">
    <img src="../../assets/img/backgrounds/Home.svg" alt="" />
    <ion-card-header>
      <ion-card-title>Welcome to Invento</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <b><ion-icon name="book"></ion-icon> About Us </b><br />
      <br />

      INVENTO is the fixed assets management system of CodeGen International
      (pvt) Ltd. Identify the assets current location, report breakdowns, view
      assets details, view employee’s details, register new employees or assets
      generate reports , booking assets are the functions of Invento. Our aim is
      to provide employees a best work environment when working with the assets
      of the company. If you want to know more about Invento, please use our
      Contact us page.
      <br /><br />
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <b><ion-icon name="list-box"></ion-icon> Authorities</b><br />
      <br />
      Assets manager is the main authorized person of the system. Only assets
      manager, CEO, Event organizers, Department heads can book the assets. Any
      registered employee of the company can request any asset through the
      system. Only high management have the authority to generate reports.
      <br /><br />
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <b><ion-icon name="alert"></ion-icon> Rules and Regulations</b
      ><br /><br />

      Employees should return the assets maximum in two weeks. Employees should
      take responsibility for the assets when it is under his/her
      responsibility. Any employee can report breakdowns to the authority.
    </ion-card-content>
  </ion-card>
</ion-content>
