<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <!-- Search results for assets -->
  <section>
    <asset></asset>
  </section>
  <!-- Button panel for quick search item types -->
  <div style="height: 100%;position: relative;">
    <ion-grid style="width: 100%;position: absolute;bottom:0;">
      <ion-row>
        <ion-col>
          <ion-button
            expand="block"
            size="large"
            (click)="selectAssetsRelatedToCategory('furniture')"
            >Furniture</ion-button
          >
        </ion-col>
        <ion-col>
          <ion-button
            expand="block"
            size="large"
            (click)="selectAssetsRelatedToCategory('furniture')"
            >Computers</ion-button
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button
            expand="block"
            size="large"
            (click)="selectAssetsRelatedToCategory('furniture')"
            >Laptops</ion-button
          >
        </ion-col>
        <ion-col>
          <ion-button
            expand="block"
            size="large"
            (click)="selectAssetsRelatedToCategory('furniture')"
            >Electronics</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
