<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div style="height: 100%;position: relative;">
    <ion-grid style="width: 100%;position: absolute;bottom:0;">
      <ion-row>
        <ion-col>
          <ion-button expand="block" size="large">Furniture</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" size="large">Computers</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="block" size="large">Laptops</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" size="large">Electronics</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
